/*
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;

color:
#043873 main color
#FFE492 yellow
#4F9CF9 blue button
#C4DEFD picture position

 */

/* font */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&display=swap');

/* basic css */
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: blueviolet;
    color: #fff;
}