/*
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;

color:
#043873 main color
#FFE492 yellow
#4F9CF9 blue button
#C4DEFD picture position

 */

/* font */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&display=swap');

/* basic css */
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: blueviolet;
    color: #fff;
    line-height: 1.7;
}
.theme-button{
    display: inline-block;
    background: #4F9CF9;
    border-radius: 8px;
    padding: 16px 24px !important;
}
.theme-button-two{
    display: inline-block;
    background: #FFE492;
    border-radius: 8px;
    padding: 16px 24px !important;
    color:#043873 !important;
    
}

.theme-button-three{
    display: inline-block;
    background: #fff;
    border: 1px solid #FFE492;
    border-radius: 8px;
    padding: 16px 24px !important;
}
.theme-button i{
    margin-left: 10px;
}

.header-area .theme-button {
    margin-left: 24px;
}
.header-area .theme-button-two{
    margin-left: 24px;
}

.theme-text h3{
    font-size: 62px;
    margin-bottom: 15px;
}

.theme-text h3 span{
    position: relative;
    z-index: 1;
}
.theme-text h3 span::after{
    position: absolute;
    content: "" ;
    width: 100%;
    height: 55px;
    left: 0;
    bottom: 0px;
    z-index: -1;
    background-image: url(picture/element.png);
    background-size: cover;
    background-repeat: no-repeat;

}

/* header area */
.header-area{
    background-color: #043873;
    padding: 16px 0;
}
.header-area .nav-link{
    color:#fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    padding: 16px 24px !important;
}
.header-area .navbar-toggler{
    border: none;
    box-shadow: none;
}


@media (max-width: 991px) {
    .theme-button{
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-top: 15px;
    }
    .theme-button-two{
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-top: 15px;
    }
    .header-area .nav-link{
        padding: 16px 0 !important;
    }

    .header-area .nav-link{
        position: relative;
    }
    .header-area .nav-link::after{
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
    }
    .header-area .theme-button {
        margin-left: 0;
    }
    .header-area .theme-button-two{
        margin-left: 0;
    }
}

/* hero css */

.hero-area{
    padding: 140px 0;
    background-image: url(picture/hero-background..png);
    background-size: cover;
    background-position: center;
}

.hero-text h3{
    font-weight: 700;
font-size: 52px;
line-height: 77px;
}
.hero-area .theme-button{
    margin-top: 30px;
}


@media (max-width: 991px){
    .hero-area{
        padding: 80px 0;
    }

    .hero-text{
        text-align: center;
    }

    .hero-text h3{
        font-size: 36px;
        
    }

   .hero-area .theme-button{
    margin-bottom: 50px;

    }
}

/* management area css */
.management-area{
        padding: 140px 0;
        background: #fff;
        color: #212529;
    }

.management-area .theme-button{
    margin-top: 30px;
    color: #fff;
}
.work-management{
    margin-top: 100px;
}

.work-management .theme-text h3 span::after{
    background-image: url(picture/work\ element.png);
    background-size: contain;
    background-position: bottom;
}

@media (max-width: 991px){
    .management-area{
        padding: 80px 0;
    }
    .work-management{
        margin-top: 60px;
    }

    .theme-text{
        text-align: center;
    }

    .theme-text h3{
        font-size: 36px;
        
    }

   .project-management .theme-button{
    margin-bottom: 50px;}

    .work-management .theme-text{
        margin-bottom: 50px;}

}

/* extension-area css */
.extension-area{
    background: #043873;
    padding: 140px 0;

}
.extension-area .theme-text h3 span::after{
    background-image: url(picture/work\ element.png);
    background-size: contain;
    background-position: bottom;
}

@media (max-width: 991px){
    .extension-area{
        padding: 80px 0;
    }
    .extension-area .theme-text{
        margin-bottom: 50px;}
}

/* customise-area */
.Customise-area{
    background: #fff;
    padding: 140px 0;
    color: #212529;
}

 .Customise-area .theme-button{
        color: #fff;
    }
    .Customise-area .theme-text h3 span::after{
        background-image: url(picture/work\ element.png);
        background-size: contain;
        background-position: bottom;
    }

    @media (max-width: 991px){
        .Customise-area{
            padding: 80px 0;
        }
        .Customise-area .custom-image{
            margin-bottom: 50px;}
    }


    /* priceing css */
    .priceing-area{
        background: #fff;
        padding: 140px 0;
        color: #212529;
    }
    .priceing-area .theme-text{
        margin-bottom: 60px;
    }
    .priceing-area .theme-text h3 span::after{
        background-image: url(picture/work\ element.png);
        background-size: contain;
        background-position: bottom;
    }

    .single-price{
        background: #FFFFFF;
        border: 1px solid #FFE492;
        border-radius: 10px;
        padding: 40px 44px;

    }
    .single-price h4{
        font-size: 24px;
        font-weight: 500;
    }
    .single-price h3{
        font-weight: 700;
        font-size: 36px;
        margin: 20px 0;
    }

    .single-price ul{
        margin: 25px 0;
        padding: 0;
    }
    .single-price ul li{
        list-style: none;
        margin-bottom: 28px;
    }
    .single-price ul li:last-child{
        margin: 0;
    }

    .single-price img{
        height: 21px !important;
        width: 21px !important;
    }
    .single-price .theme-button{
        color: #fff;
    }

    .special-pricing{
        background-color: #043873;
        color: #fff;
    }

    .special-pricing h3{
        color: #FFE492;
    }

    .special-pricing{
        padding: 80px 44px;
    }


    @media (max-width: 991px){
        .priceing-area{
            padding: 80px 0;
        }

        .single-price{
            margin-bottom: 30px;
        }
    }


    /* your-work-area css */

    .your-work-area{
            background:#043873;
            padding: 140px 0;
            color: #fff;
    }
    .your-work-area .theme-text h3 span::after{
        background-image: url(picture/your\ work\ elemint.png);
        background-size: contain;
        background-position: bottom;
    }


    /* your-data-area css */

    .your-data-area{
        background-color: #fff;
            padding: 140px 0;
            color:#212529;

    }
    .your-data-area .theme-button{
        color: #fff;
    }
    .your-data-area .theme-text h3 span::after{
        background-image: url(picture/work\ element.png);
        background-size: contain;
        background-position: bottom;
    }


    @media (max-width: 991px){
        .your-data-area{
            padding: 80px 0;
        }

        .your-data-area .data-image{
            margin-bottom: 50px;
        }
    }

    /* sponsor-area */

    .sponsor-area{
        background-color: #fff;
            padding: 140px 0;
            color:#212529;
    }
    .sponsor-area .theme-text{
        margin-bottom: 80px;
    }
    .single-sponsor img{
        height: 50px;
        width: auto;
    }
    .sponsor-area .theme-text h3 span::after{
        background-image: url(picture/work\ element.png);
        background-size: contain;
        background-position: bottom;
    }

    @media (max-width: 991px){
        .sponsor-area{
            padding-top: 80px;
            padding-bottom: 30px;
        }
        .sponsor-area .theme-text{
            margin-bottom: 50px;
        }
        .single-sponsor{
            margin-bottom: 50px;
        }
    }

    /* app-area css */
    .app-area{
        padding: 140px 0;
        background-image: url(picture/app-background.png);
        background-size: cover;
        background-position: center;
    }

    .app-area .theme-text{
        margin-left: 100px;
    }

    @media (max-width: 991px){
        .app-area{
            padding-top: 80px;
            padding-bottom: 50px;
        }

        .app-area .theme-text{
            margin-left: 0px;
        }
        .app-area .app-image{
            margin-bottom: 50px;
        }

    }

    /* testimonial- area css */

    .testimonial-area{
        background-color: #fff;
            padding: 140px 0;
            color:#212529;
    }

    .testimonial-area .theme-text h3 span::after{
        background-image: url(picture/says\ elemint.png);
        background-size: contain;
        background-position: bottom;

    }
    .testimonial-area .theme-text{
        margin-bottom: 50px;
    }

    .single-testimonial{
        background: #4F9CF9;
        box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 50px 25px;
        color: #fff;
        transition: .3s;
    }
    .single-testimonial:hover{
        background-color: #fff;
        color: #212529;
        cursor: pointer;
    }

    .testimonial-text{
        border-bottom: 1px solid #fff;
    }

    .testimonial-text i{
        font-size: 60px;
        margin-bottom: 40px;
     }
    .testimonial-text p{
        margin-bottom: 25px;
    }

    .testimonial-auther{
        margin-top: 40px;
        display: flex;
    }

    .auther-image{
        margin-right: 25px;
    }

    .auther-text h5{
        font-size: 18px;
        color: #212529;
    }
     .auther-text p{
         margin-bottom: 0;
         font-size: 16px;
     }
     .testimonial-area .owl-dots{
        text-align: center;
        margin-top: 50px;
    }
    .testimonial-area .owl-dots button{
        height: 15px;
        width: 15px;
        background-color: #4F9CF9 !important;
        border-radius: 50%;
        margin: 5px;
    }
    .testimonial-area .owl-dots button.active{
        background-color: #043873 !important;
    }

/* trial-area-css */
     .trial-area{
        padding: 140px 0;
        background-color: #043873;
     }
     .trial-text h3{
        font-size: 68px;
     }
     .trial-text p{
        font-size: 24px;
        margin: 20px 0;
     }
     .trial-text h4{
        font-size: 24px;
     }
     .trial-area .theme-button{
        margin: 20px 0;
     }
     .trial-image {
        margin-top: 40px;
     }
     .trial-area a{
        margin: 0 20px;
     }

     @media (max-width: 991px){
        .trial-area{
            padding: 80px 0;
        }
        .trial-text h3{
            font-size: 42px;
        }
        .trial-text p{
            font-size: 18px;
        }
        .trial-image a{
            margin: 0;
            margin-right: 40px;
        }
        .trial-text h4{
            font-size: 18px;
        }

     }

     /* footer-area css */

     .footer-area{
        background-color: #043873;
        border: 1px solid #2E4E73;

        padding-top: 140px;
     }
     .footer-top{
        padding-bottom: 60px;
     }

     .footer-about img{
        margin-bottom: 15px;
     }
     .footer-link ul{
        margin: 0;
        padding: 0;
     }
     .footer-link li{
        list-style: none;
     }
     .footer-link h3{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
     }
     .footer-link a{
        text-decoration: none;
        font-size: 15px;
        color: #fff;
        padding-bottom: 10px;
        transition: .3s;
        display: inline-block;
     }
     .footer-link a:hover{
        color: #FFE492
        ;
     }

     .footer-contact h3{
        font-weight: 700;
        font-size: 28px;
        margin-bottom: 15px;
     }
     .footer-bottom{
        border-top: 1px solid #2E4E73;
        padding: 32px 0;

     }

     .footer-languse a{
        text-decoration: none;
        color: #fff;
     }

     .footer-languse i {
        margin-right: 10px;
     }
     .footer-languse .dropdown-item{
        color: #212529;
     }

     .social-link{
        text-align: right;
     }

     .social-link a{
        text-decoration: none;
        color: #fff;
        display: inline-block;
        margin-left: 32px;
     }
     

     @media (max-width: 991px){
        .footer-top{
            text-align: center;
        }
        .footer-about{
            margin-bottom: 40px;
        }
        .footer-link{
            margin: 40px 0;
        }
        .footer-contact{
            margin-top: 40px;
        }

        .footer-bottom{
            border-top: none;
    
         }
        .footer-languse{
            text-align: center;
        }
        .copy-right {
             padding: 32px 0;
        }
        .social-link{
            text-align: center;
            border-top: 1px solid #2E4E73;
            padding: 32px 0;
        }
        .social-link a{
             margin: 0 16px;
        }
     }

    

